.menubalk {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    background-color: gold;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

li:hover {
    background-color: white;
}