body { background-color: orange !important;}
.kat-img { transition: all 0.3s ease-in-out;}
.kat-img:hover { transform: scale(1.2); box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3;}`
.kat-img:hover { transform: scale(1.2); box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3;}