body {
color: white;
}

table {
    border: solid black;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: solid black;
    width: 150px;
}

.lightblue {
    background-color: #6facff;
}

.blue {
    background-color: #4f8cef;
}

.darkblue {
    background-color: #27426d;
}