.groenbox {
    display: inline-block;
    background-color: green;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container {
    flex-direction: column;
}