* {
    padding: 0;
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
      sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
    object-fit: cover;
  }
  
  p {
    color: white;
  }
  
  .letter {
    color: #fa3267;
  }
  
  .Logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 25px;
  }
  
  .a {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

  .container1 {
    display: inline-block;
    background-color: #fa3267;
    border-radius: 50px;
    height: 100%;
    width: 40%;
  }
  
  img {
    width: 50%;
    border-radius: 700px;
  }

  .containerright {
    background-color: #fa3267;
    border-radius: 50px;
    height: 100%;
    width: 40%;
  }

  .about {
    padding: 30px;
    text-align: center;
  }
  

  .container2 {
    text-align: center;
    margin: 5%;
    background-color: #fa3267;
    border-radius: 50px;
    height: 100%px;
  }
  
  .experience {
    padding: 30px;
    height: 400px;
  }
  
  table {
    color: white;
    margin-top: 30px;
    display: inline-block;
    border-collapse: collapse;
  }
  
  table tr td {
    text-align: left;
    padding-left: 10px;
    width: 250px;
    height: 80px;
  }
  
  .container3 {
    text-align: center;
    margin: 5%;
    background-color: #fa3267;
    border-radius: 50px;
    height: 100%;
  }
  
  .skills {
    padding: 30px;
  }
  
  .boxes {
    margin-top: 30px;
  }
  
  .bar1 {
    background: linear-gradient(to right, black 50%, #fa3267 50%);
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    margin-top: 15px;
  }
  
  .bar2 {
    background: linear-gradient(to right, black 25%, #fa3267 75%);
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    margin-top: 15px;
  }
  
  .bar3 {
    background: linear-gradient(to right, black 15%, #fa3267 85%);
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    margin-top: 15px;
  }
  